fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
pytest
requests
torch
transformers
accelerate
bitsandbytes
langchain
langchain-community
langchain-ollama    
langchain-chroma
langchain-redis
langchain-huggingface
langchain-core
chromadb
mysql-connector-python
redis
rapidfuzz
pypdf2
python-docx
python-pptx
python-pdfbox
pandas
reportlab
cython 